In [1]:
import re

In [2]:
text = "This text contains a floating point -98.345 number"

In [5]:
m = re.search(r"\d+\.?\d*", text)
m

In [6]:
text[37:43]

'98.345'

In [7]:
m.span()

(37, 43)

In [8]:
m.group()

'98.345'

In [9]:
m.start()

37

In [10]:
m.end()

43

In [11]:
text[m.start():m.end()]

'98.345'

Grouping

In [32]:
m = re.search(r"(\d+)\.?(\d*)", text)

In [13]:
m.group()

'98.345'

In [14]:
m.group(1)

'98'

In [15]:
m.group(2)

'345'

In [16]:
m.groups()

('98', '345')

In [30]:
m = re.search(r"(float)ing", text)

In [21]:
m.group()

'floating'

In [22]:
m.group(1)

'float'

In [34]:
m = re.search(r"(?P<decimal>\d+)\.?(?P<fraction>\d*)", text)

In [26]:
m.group()

'98.345'

In [27]:
m.groups()

('98', '345')

In [35]:
m.groupdict()

{'decimal': '98', 'fraction': '345'}

In [31]:
m

#### METACHARACTERS
Special charecters to build regular expressions

First Group

In [45]:
import re
data = ['ab ', 'abc', 'a5e', 'a6fc', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a.c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c anc'
abc matched in 'abc ab'

In [46]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a[0-9][abc]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6c matched in '123 a6c anc'
a5b matched in 'a5b'

In [49]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a[0-9][^abc]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a55 matched in 'a55b'
a55 matched in 'a555b'
a55 matched in 'a5555b'
a55 matched in 'a55555b'
a55 matched in 'a555555b'
a5x matched in 'a5xb'

In [53]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'[0-9]\+[0-9]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3+2 matched in '3+2=5'

In [54]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'bc|a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

bc matched in 'abc'
a6 matched in 'a6f'
a6 matched in '123 a6c anc'
bc matched in 'abc ab'

Second Group

In [59]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a\d\D', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a6c matched in '123 a6c anc'
a5b matched in 'a5b'
a5x matched in 'a5xb'

In [57]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'...\s.', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

123 a matched in '123 a6c anc'
def g matched in 'def ghi'
abc a matched in 'abc ab'

Third Group

In [60]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'
a6 matched in '123 a6c anc'

In [61]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'^a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'

In [62]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'..c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c anc'
abc matched in 'abc ab'

In [63]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'..c$', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
anc matched in '123 a6c anc'

In [64]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'ab\b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'ab '
ab matched in 'abc ab'

In [65]:
import re
data = ['ab ', 'abc', 'a5e', 'a6f', '123 a6c anc', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'ab\B', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'abc'
ab matched in 'abc ab'

Fourth Group

In [67]:
for item in data:
	m = re.search(r'a555*', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55 matched in 'a55b'
a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [68]:
for item in data:
	m = re.search(r'a555+', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [70]:
for item in data:
	m = re.search(r'a555?', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55 matched in 'a55b'
a555 matched in 'a555b'
a555 matched in 'a5555b'
a555 matched in 'a55555b'
a555 matched in 'a555555b'

In [71]:
for item in data:
	m = re.search(r'a555{4}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555555 matched in 'a555555b'

In [72]:
for item in data:
	m = re.search(r'a555{1,4}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [73]:
for item in data:
	m = re.search(r'a555{1,}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [74]:
for item in data:
	m = re.search(r'a555{,3}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55 matched in 'a55b'
a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a55555 matched in 'a555555b'

In [75]:
for item in data:
	m = re.search(r'a(55){2}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555 matched in 'a5555b'
a5555 matched in 'a55555b'
a5555 matched in 'a555555b'